.wrapper {
    font-family: TikTokFont;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 7px 13px;
    min-width: 110px;
    line-height: 2.1rem;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
}

//button types
.rounded {
    background: none rgb(255, 255, 255);
    color: rgba(22, 24, 35, 0.75);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 999px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(255, 255, 255);
    }
}

.primary {
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 4px;
    min-width: 100px;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    font-weight: 700;
    color: var(--primary);
    background-color: var(--white);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.textBorder {
    font-weight: 600;
    background-color: var(--white);
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

//butotn size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
