@import 'normalize.css';

:root {
    --primary: #ff0000;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    --font-family: 'TikTokFont';

    //default layout
    --default-layout-header-width: 1492px;
    --defaule-layout-header-height: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//font emberder
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/font/TikTokDisplayFont-Regular.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/font/TikTokDisplayFont-Semibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/font/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/font/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/font/TikTokFont-Bold.woff2');
    font-weight: 700;
}

// custom tippy tooltip
body {
    .tippy-box {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: rgb(255, 255, 255);
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
